<div ng-controller="homeCtrl">


    <style>
        nav {
            background: transparent;
            box-shadow: none;
        }

        main {
            margin-top: -64px;
        }

        .sub-head {
            background: none;
        }

        .search-wrap {
            background: rgba(255, 255, 255, 0.5) !important
        }
    </style>
    <div class="full-height">
        <img src="images/bg2.jpg">
    </div>

    <div class="row center" id="hr">
        <button class="btn btn-large waves-effect waves-light" ng-click="start()">Save data</button>
    </div>
</div>