<style type="text/css">
    .menu {
        background-color: #f06292 !important;
    }

    .favorite-icon {
        color: #fff;
    }
</style>

<div layout="row" layout-align="center center" style="height:100vh; background: url('./images/bg1.jpg')">
    <div class="progress" ng-hide="dataFetched">
        <md-progress-circular md-mode="indeterminate" ng-hide="dataFetched" md-diameter="164"></md-progress-circular>
    </div>
    <div class="single-product card" ng-show="dataFetched">
        <div class="single-product image-showcase">
            <!--  <div>
                 <img style="width: 100%; " ng-src="{{ product.featured_src }}">
             </div> -->
        </div>

        <div class="single-product product-content" style="display:table">
            <div style="display:table-cell;vertical-align:middle;width:100%; text-align: center;">
                <h1 style="width:100%; font-weight: bolder; font-size: 3.5em; text-transform: uppercase;">{{
                    product.title }}</h1>

                <p style="font-size: 1.4em;">{{ product.description }}</p>

                <div class="price-container">
                    <span ng-show="product.on_sale"
                          class="price regular-price"><strike>Rs.{{ product.regular_price }}</strike></span>
                    <span class="price sale-price">Rs.{{ product.sale_price }}</span>
                </div>
                <br/>

                <h4 style="font-size: 2.5em; text-transform: uppercase;">Select an option</h4>
                <div class="action-btn-container">
                    <button class="productBtn">Standard Size</button>
                    <span style="font-weight: bolder; font-size: 1.8em; text-transform: uppercase; margin: 10px;">or</span>
                    <button class="productBtn">Custom Size</button>
                </div>

            </div>
        </div>

        <div class="single-product product-image-slider" style="background: #fff">

        </div>
    </div>
</div>